body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #820000;
    color: white;
}

.logo a {
    display: inline-block;
}

.logo-img {
    height: 80px;
    width: 90px;
}

.nav {
    flex-grow: 1;
    text-align: center;
}

.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.body {
    padding: 20px;
}

.hermandades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.hermandad {
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.hermandad-img {
    max-width: 100%;
    height: auto;
}

.nombre {
    margin-top: 10px;
    font-weight: bold;
}